html {
  --black: black;
  --white: rgb(255, 255, 255);
  --teal1: rgb(225, 86, 58);
  --teal2: rgb(237, 127, 54);
  --teal3: rgb(168, 47, 3);
  --darkteal: rgb(89, 156, 152);
  --teal: rgb(89, 239, 229);
  --bgvar1: rgb(0, 217, 255);
  --bgvar2: rgb(0, 0, 0);

  height: 100vh;
  font-size: 0.8em;
  font-weight: bolder;
}

body {
  background-color: var(--black);
  height: 99vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-shadow: var(--teal1) -1px -1px 12px, var(--teal1) 1px 1px 1px,
    var(--teal1) 1px 1px 1px;
}

@media screen and (min-height: 300px) {
  body {
    font-size: 0.5em;
  }
}

@media screen and (min-height: 500px) {
  body {
    font-size: 0.8em;
  }
}

@media screen and (min-height: 600px) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-height: 700px) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (min-height: 800px) {
  body {
    font-size: 1.4em;
  }
}

@media screen and (min-height: 1100px) {
  body {
    font-size: 1.7em;
  }
}

@media screen and (min-height: 1400px) {
  body {
    font-size: 2em;
  }
}

@media screen and (min-height: 1700px) {
  body {
    font-size: 3em;
  }
}

@media screen and (min-height: 2000px) {
  body {
    font-size: 3.3em;
  }
}

@media screen and (min-height: 4000px) {
  body {
    font-size: 4em;
  }
}

div {
  /* border: 1px solid white; */
  color: var(--teal1);
}

#appBox {
  display: flex;
  flex-direction: column;
  max-width: 45em;
  margin: auto;
  align-items: center;
  gap: 1em;
  justify-content: space-evenly;
  align-content: space-around;
  height: 98vh;
  background-color: rgba(0, 3, 3, 0.55);
  border-radius: 40px;
}

#headerPicture {
  max-height: 25em;
  max-width: 25em;
  width: 100%;
  border-radius: 34%;
  border: 3px var(--teal1) dashed;
  border-style: outset;
}

#linksDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 85%;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.link {
  max-height: 5em;
  max-width: 5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.icon {
  width: 3em;
  height: 3em;
}

.titleDiv {
  font-family: monospace;
  font-size: 1.8em;
}

.mainText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

div .factoid:nth-child(3n + 1),
#linksDiv > a:nth-child(3n + 1) > div {
  color: var(--teal2);
}

div .factoid:nth-child(3n + 2),
#linksDiv > a:nth-child(3n + 2) > div {
  color: var(--teal3);
}

.factoid {
  display: inline;
}

.bigFont {
  font-size: 1.4em;
}

div {
  transition: color 2s, text-shadow 2s;
}

div:hover {
  color: white !important;
  transition: color 0.2s, text-shadow 0.2s;
  text-shadow: var(--teal) -1px -1px 12px, var(--teal) 1px 1px 1px,
    var(--teal) 1px 1px 1px;
}

body {
  background: repeating-linear-gradient(
    25deg,
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar1),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2),
    var(--bgvar2)
  );
  background-size: 20px 40px;
  animation: move-it 20s linear infinite;
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 1000px 1000px;
  }
}
