<div class="footer">
    <div class="about">
        Pawske party © 2023 <br>
        orgnr: 930 235 490
    </div>

    <div class="contactUs">
        contact us at:<br />
        <a href="mailto:pawskeparty@gmail.com">
            pawskeparty@gmail.com
          </a>

          <br>
          <br>
          
          <div class="socialElement">
            <a href="https://linktr.ee/pawskeparty">
                Find our socials on Linktree<br>
            </a>
        </div>
    </div>
</div>