@font-face {
  font-family: "louis_george_caferegularLight";
  src: url("../font/LouisGeorgeCafeLight.ttf");
}

@font-face {
  font-family: "louis_george_caferegularRegular";
  src: url("../font/LouisGeorgeCafe.ttf");
}

@font-face {
  font-family: "louis_george_caferegularbold";
  src: url("../font/LouisGeorgeCafeBold.ttf");
}

@font-face {
  font-family: "EasterFont";
  src: url("../font/SundayBest.ttf");
}

html {
  --mainFont: white;
  --weakFont: rgba(255, 255, 255, 0.75);

  --Cp1: rgba(20, 1, 64, 0.7);
  /*Header, footer, paragraph*/
  --Cp2: rgba(21, 3, 55, 0.7);
  /*Paragraph every second box*/
  --Cp3: rgba(38, 1, 64, 0.7);
  /*Paragraph every second box*/

  --CDetails: #140140;
  /*navback top menu background clour*/
  --Contrast1: #eb43bc;
  /*a-href links*/

  --Cs2: rgb(100, 45, 45);
  /*Box shadow, currently not in use*/
  --Cs1: rgba(162, 43, 13, 20%);
  /*Button background colour*/
  --CHighlight1: rgb(218, 72, 72);
  /*button text colour*/
  --CHighlight2: rgb(122, 17, 17);
  /*button highlight colour*/

  color: var(--mainFont);
  /*black*/

  /*Animation*/
  --animation1:#381b7c;
  --animation2:#75208a;
  --animation3:#653299;
  --animation4:#933972;

  margin: 0;

  font-family: "louis_george_caferegularRegular";
  font-size: 1em;
}

body {
  margin: auto;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/backgroundpic3.png");
  background-position: top;
  background-attachment: fixed;

  max-width: 45em;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1em;
  min-width: 320px;

  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  min-height: 100vh;
}

#content {
  padding: 0.5em;
  max-width: 96%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.4em;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.4em;
  padding: 0.4em 0;
}

a {
  color: var(--Contrast1);
}

.imageGallery > a {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.imageGallery > a > img {
  border-radius: 0.7em;
  aspect-ratio: 1;
  aspect-ratio: 1.5/1;
  max-width: 80%;
  align-self: flex-start;
}

.imageGallery > a:nth-child(3n + 1) > img {
  align-self: center;
}

.imageGallery > a:nth-child(3n + 2) > img {
  align-self: flex-end;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  margin: 0 auto;
}

.logo {
  height: 15em;
  width: 90%;

  background-image: url("../images/logotype\ textwhite.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* display: block; */
}

.subtitle {
  background-color: rgba(0, 0, 0, 35%);
  text-align: center;
  font-family: "EasterFont";
  font-size: 1.3em;
  color: var(--mainFont);
  border: solid var(--CDetails) 2px;
  border-width: 1px 0px;
}

.smallsubtitle {
  background-color: rgba(0, 0, 0, 35%);
  margin-top: 0.3em;
  font-size: 1.4em;
  border-top: none;
  border-bottom: none;
  font-family: "louis_george_caferegularLight";
}

.navbar {
  border-radius: 14px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1px;
  font-size: 1.1em;
  justify-content: center;
}

.navbar a {
  margin: 1px 0;
  padding: 0.2em;
  border-radius: 5px;
  border: solid var(--CDetails) 2px;
  border-width: 1px 0px;
  background-color: rgba(0, 0, 0, 35%);
  
  color: var(--mainFont);
  text-align: center;

  /*max 5 items per row*/
  min-width: 19%;
}

.navbar a.active {
  border: var(--mainFont) 2px solid;
  font-weight: bolder;
}



@keyframes rainbowGlow {
  0% {
    border-color: var(--animation1);
    box-shadow: 0 0 6px var(--animation1);
    text-shadow: 2px 2px 3px var(--animation1);
  }
  28% {
    border-color: var(--animation2);
    box-shadow: 0 0 10px var(--animation2);
    text-shadow: 2px 2px 3px  var(--animation2);
  }
  57% {
    border-color: var(--animation3);
    box-shadow: 0 0 14px var(--animation3);
    text-shadow: 2px 2px 3px  var(--animation3);
  }
  85% {
    border-color: var(--animation4);
    box-shadow: 0 0 10px var(--animation4);
    text-shadow: 2px 2px 3px  var(--animation4);
  }
  100% {
    border-color: var(--animation1);
    box-shadow: 0 0 6px var(--animation1);
    text-shadow: 2px 2px 3px  var(--animation1);
  }
}

.navbar a.shinyButton {
  border-width: 1px 0px;
  border: 2px solid;
  border-radius: 5px;
  animation: rainbowGlow 7s infinite;
}

.noDecoration {
  text-decoration: none;
}

.dancingWillowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dancingWillowWrapper > img {
  max-height: 18em;
  transform: translateX(-10px);
}

.main {
  display: flex;
  flex-flow: column;

  align-items: stretch;
  justify-content: space-evenly;

  margin: 2% 3%;
  gap: 13px;
}

.header {
  display: none;

  background-color: var(--Cp1);
  color: var(--Cbg);

  top: 0;
  left: 0;
  max-width: 60em;
  width: 100%;

  margin: auto;
}

footer {
  font-size: 0.8em;

  background-color: var(--Cp1);
  color: var(--mainFont);
  font-family: "louis_george_caferegularLight";

  width: 96%;
  padding: 2%;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;

  /* box-shadow: 0 50vh 0 50vh var(--Cs2); */
  border-radius: 0.7em 0.7em 0 0;
}

footer > * {
  min-width: 10em;
}

footer a {
  color: var(--Contrast1);
}

.paragraph {
  background-color: var(--Cp1);
  transition: background 0.2s ease-in-out;

  border-radius: 0.7em;
  padding: 0.4em 1.1em;
  margin-top: 0.4em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-between;
}

.paragraph:nth-child(2n) {
  background-color: var(--Cp2);
}

div.noBackground:nth-child(n) {
  background-color: transparent;
}

.subtext {
  background-color: transparent;
  box-shadow: none;
  color: var(--mainFont);
  padding: 0;
  margin: 0;
}

.paragraph > * {
  /* min-width: 7em; */
  flex-grow: 1;
}

.h2 {
  font-family: "louis_george_caferegularbold";
  font-size: 2em;
  color: var(--mainFont);
  margin: 0 0 0.3em 0;
}

.h3 {
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
  font-size: 1.3em;
  font-weight: 700;
}

button {
  font-size: 1.4em;

  flex-grow: 2;
  max-width: 10em;

  background-color: var(--Cs1);
  color: var(--CHighlight1);

  border: none;

  padding: 0.5em;
  border-radius: 10px;

  font-family: "louis_george_caferegularbold";
}

button:hover {
  background-color: var(--CHighlight2);
  color: var(--mainFont);
}

button:active {
  background-color: var(--CHighlight2);
  color: var(--mainFont);
  transform: translateY(3px);
}

td {
  padding: 2px 10px;
}

tr {
  text-align: start;
}

.map {
  background-image: url("../images/Map1.png");
  align-self: stretch;
  flex-grow: 1;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 24em;
}

.willow404 {
  background-image: url("../images/Willow2.jpeg");
  align-self: stretch;
  flex-grow: 1;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* border: 1px solid var(--CHighlight); */
  height: 24em;
  max-width: 24em;
  border-radius: 500%;
}

.socialElement {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

/*modifiers*/
.noHorizontalPadding {
  padding-left: 0px;
  padding-right: 0px;
}

.bread {
  width: 100%;
  padding: 0px 0.3em;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.videoFrame {
  height: 20em;
  border-width: 0px;
}

/* .textblock{

} */

.centerText {
  text-align: center;
}

.fourtyp {
  max-width: 15em;
}

.smallText {
  font-size: 0.9em;
}

.smallerText {
  font-size: 0.8em;
}

.smallestText {
  font-size: 0.5em;
}

.flexstrech {
  align-self: stretch;
}

.flexAround {
  display: flex;
  justify-content: center;
}

a.barqLogo {
  color: var(--mainFont);
  text-shadow: 1px 1px 1px black;
  font-size: 1.2em;
  font-weight: bolder;
}

ul {
  padding-inline-start: 0.6em;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

li {
  padding: 1px 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

ul.flexRow {
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

ul.flexRow > li {
  align-items: center;
}

.merchImg {
  max-width: 7em;
  border-radius: 1em;
}

.timeslot {
  display: inline-block;
  min-width: 3em;
  padding: 0 0 0 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-self: flex-start;
}

.djParty {
  text-shadow: 2px 2px 3px white;
  color: var(--animation1);
  font-weight: bolder;
}

/*Programme*/

/* .progFlexBox {
  display: flex;
  flex-direction: column;
}
.progRow {
  width: 100%;
  display: flex;
  flex-direction: row;
} */

.progTable > tbody > tr > td:nth-child(1) {
  text-align: center;
}

.progNewDay {
  padding-top: 2em;
}

.mx100 {
  max-width: 100%;
}

.teamGallery {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5em;
}

.memberBox {
  max-height: 10em;
  flex: 1 1 47%;

  display: flex;
  flex-direction: row;
  gap: 0.5em;

  border-radius: 1.5em;
  border: solid var(--CDetails) 2px;
  border-width: 1px 0px;
  background-color: rgba(0, 0, 0, 35%);
  padding: 4px;
  align-items: center;

  max-width: 55%;
}

.memberBox:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 25%);
}

.memberImg {
  object-fit: cover;
  width: 7em;
  height: 7em;

  border-radius: 2.5em;
}

.memberTextBox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-grow: 1;
  align-items: baseline;
}

.memberBox:nth-child(2n) > .memberTextBox {
  align-items: flex-end;
  text-align: right;
}

.memberName {
  max-width: 5em;

  font-size: 2em;

  border-bottom: 1.5px var(--mainFont) solid;
}

.memberTagLine {
  margin-left: 0.5em;
  font-style: italic;
}

.memberRole {
  font-size: 0.7em;
}

.telegramHandle::before {
  display: inline-flex;
  content: "";
  background-image: url("../images/svgs/Telegram_logo.svg");
  background-size: 1.3em 1.3em;
  height: 1.3em;
  width: 1.3em;
  padding-right: 0.5em;
  background-repeat: no-repeat;
}

.telegramHandle {
  color: var(--weakFont);
  margin-left: 0.5em;
  word-break: break-all;
  display: flex;
}

.merchImg {
  max-width: 100px;
}

body { font: 1em sans-serif;}

.calendarWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  /*white-space: nowrap;*/
  max-width: 100%;
}
/* Make calendar screen size responsive */
@media only screen and (min-width: 600px){
  .calendarWrapper{
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
  }
}
@media only screen and (max-width: 600px){
  .calendarWrapper{
    width: 100%;
  }
}

.calendarInnerWrapper {
  overflow-x: auto;
}

/* GRID SETUP */
.calendar {

  display: grid;
  grid-gap: 1px;
  border-radius: 0.7em;
  /* background-color: var(--Cp1); */
  padding: 1px;
  overflow-x: auto;

  height: fit-content;
  min-width: 450px;
}

.weekly-byhour {
  /* NAMED LINE NUMBERS (between tracks): 
        COLS: hour markers + 7 days
        ROWS: day markers + 24 hours */
  grid-template-columns: 
    [time] auto [thu] 1fr [fri] 1.5fr [fri2] 1fr [sat] 1fr [sun] 1fr [end-col];
  grid-template-rows:
    [day]  auto
    [h09]  auto
    [h10]  auto 
    [h11]  auto 
    [h1130]  auto 
    [h12]  auto 
    [h13]  auto 
    [h14]  auto 
    [h15]  auto 
    [h1530]  auto 
    [h16]  auto 
    [h17]  auto 
    [h18]  auto 
    [h19]  auto 
    [h20]  auto 
    [h21]  auto 
    [h22]  auto 
    [h23]  auto 
    [h00]  auto 
    [h01]  auto 
    [end-row];
}

/* Mobile friendly formatting */
@media only screen and (max-width: 600px){
  .weekly-byhour {
    grid-template-columns: 
    [time] auto [thu] 1fr [fri] 1.5fr [fri2] 0.75fr [sat] 1fr [sun] 1fr [end-col];
  }
}

/* GENERAL ITEM SETUP */
.calendar li {
  /* background-color: var(--Cp2); */
  /* padding: 0.25em; */
  display: inline-block;
}

/* ITEM TYPES */
li.day, li.time, li.corner { 
  background-color: var(--Cp2); 
  padding: 2px 2px;
}
li.corner {
  border-top-left-radius: 0.7em;
}
li.day { 
  text-align: center; }
li.time { 
  text-align: right; 
  vertical-align: bottom; }

li.event { 
  height: 100%; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*text-wrap: nowrap;*/
  overflow: hidden;
  
  border-radius:5px;
  padding: 0px;
  background-color: var(--animation1); 
}

.event:nth-child(3n+1) { background-color: var(--animation2); }
.event:nth-child(3n+2) { background-color: var(--animation3); }
.event.outside {background-color: #9957AD;}
.event.mainDance { background-color: var(--Contrast1);}

/* EVENT text css*/

.eventTimeslot {
  font-family: "louis_george_caferegularLight";
  font-size: 0.9em;
  flex-grow: 0;
}
.eventTitle {
  text-align: center;
  font-family: "louis_george_caferegularbold";
  font-size: 0.9em;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.eventinfo {
  font-family: "louis_george_caferegularLight";
  font-size: 0.9em;
  flex-grow: 1;
/*  overflow:hidden;*/
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-align: center;
}

/* DAY HEADINGS   row / col */
.thu { grid-area: day / thu; }
.fri { grid-area: day / fri; }
.fri2 { grid-area: day / fri2; }
.sat { grid-area: day / sat; }
.sun { grid-area: day / sun; }

/* TIME HEADINGS  row / col */
.h09 { grid-area: h09 / time; }
.h10 { grid-area: h10 / time; }
.h11 { grid-area: h11 / time; }
.h1130 { grid-area: h1130 / time; }
.h12 { grid-area: h12 / time; }
.h13 { grid-area: h13 / time; }
.h14 { grid-area: h14 / time; }
.h15 { grid-area: h15 / time; }
.h1530 { grid-area: h1530 / time; }
.h16 { grid-area: h16 / time; }
.h17 { grid-area: h17 / time; }
.h18 { grid-area: h18 / time; }
.h19 { grid-area: h19 / time; }
.h20 { grid-area: h20 / time; }
.h21 { grid-area: h21 / time; }
.h22 { grid-area: h22 / time; }
.h23 { grid-area: h23 / time; }
.h00 { grid-area: h00 / time; }
.h01 { grid-area: h01 / time; }


@media only screen and (max-width: 600px) {
  .dancingWillowWrapper > img {
    display: none;
  }

  .memberBox {
    max-width: 100%;
  }
}
