<nav class="navbar">
    <a class="noDecoration blackTint" href="./index.html">Main Page</a>
    <a class="noDecoration blackTint glow" href="./tickets.html">Tickets</a>
    <a class="noDecoration blackTint" href="./practical.html">Practical Info</a>
    <a class="noDecoration blackTint" href="./events.html">Events</a>
    <a class="noDecoration blackTint" href="./applications.html">Applications</a>
    <a class="noDecoration blackTint" href="./gallery.html">Gallery</a>
    <a class="noDecoration blackTint" href="./tosncoc.html">TOS & COC</a>
</nav>